<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>
            <!-- Exclude your test project assembly -->
            <ModulePath>.*BlackJackLibrary\.Test.*</ModulePath>
            <!-- Exclude the UI assembly -->
            <ModulePath>.*UI.*</ModulePath>
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
